.container {
    color: #838383;
    font-size: 12px;
    /*border: 1px solid #dadada;*/
    background-color: #FFF;
}
.retry{
    color:dodgerblue;
}
.ignore{
    color:dodgerblue;
}
.container .queueList {
    /*width:600px;*/
    /*height:600px;*/
    /*margin: 20px;*/
    border: 3px dashed #e6e6e6
}

.container .queueList.filled {
    padding: 17px;
    margin: 0;
    border: 3px dashed transparent
}

.container .queueList.webuploader-dnd-over {
    border: 3px dashed #999
}

.container p {
    margin: 0
}

.element-invisible {
    position: absolute!important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px)
}

.container .placeholder {
    min-height: 230px;
    padding-top: 180px;
    text-align: center;
    background: url(/static/admin/images/image.png) center 93px no-repeat;
    color: #ccc;
    font-size: 18px;
    position: relative
}

.container .placeholder .webuploader-pick {
    font-size: 18px;
    background: #00b7ee;
    border-radius: 3px;
    line-height: 44px;
    padding: 0 30px;
    *width: 120px;
    color: #fff;
    display: inline-block;
    margin: 0 auto 20px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,.1)
}

.container .placeholder .webuploader-pick-hover {
    background: #00a2d4
}

.container .placeholder .flashTip {
    color: #666;
    font-size: 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px
}

.container .placeholder .flashTip a {
    color: #0785d1;
    text-decoration: none
}

.container .placeholder .flashTip a:hover {
    text-decoration: underline
}

.container .filelist {
    list-style: none;
    margin: 0;
    padding: 0
}

.container .filelist:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both
}

.container .filelist li {
    width: 110px;
    height: 110px;
    background: url(/static/admin/images/bg.png) no-repeat;
    text-align: center;
    margin: 0 8px 20px 0;
    position: relative;
    display: inline;
    float: left;
    overflow: hidden;
    font-size: 12px
}

.container .filelist li p.log {
    position: relative;
    top: -45px
}

.container .filelist li p.title {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 5px;
    text-indent: 5px;
    text-align: left
}

.container .filelist li p.progress {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 8px;
    overflow: hidden;
    z-index: 50;
    margin: 0;
    border-radius: 0;
    background: 0 0;
    -webkit-box-shadow: 0 0 0
}

.container .filelist li p.progress span {
    display: none;
    overflow: hidden;
    width: 0;
    height: 100%;
    background: #1483d8 url(/static/admin/images/progress.png) repeat-x;
    -webit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;
    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;
    -webkit-transform: translateZ(0)
}

@-webkit-keyframes progressmove {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 17px 0
    }
}

@-moz-keyframes progressmove {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 17px 0
    }
}

@keyframes progressmove {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 17px 0
    }
}

.container .filelist li p.imgWrap {
    position: relative;
    z-index: 2;
    line-height: 110px;
    vertical-align: middle;
    overflow: hidden;
    width: 110px;
    height: 110px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
    -ms-transition: 200ms ease-out;
    transition: 200ms ease-out
}

.container .filelist li img {
    width: 100%
}

.container .filelist li p.error {
    background: #f43838;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 28px;
    line-height: 28px;
    width: 100%;
    z-index: 100
}

.container .filelist li .success {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 200;
    background: url(/static/admin/images/success.png) no-repeat right bottom
}

.container .filelist div.file-panel {
    position: absolute;
    height: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#80000000', endColorstr='#80000000')\0;
    background: rgba(0,0,0,.5);
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 300
}

.container .filelist div.file-panel span {
    width: 24px;
    height: 24px;
    display: inline;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    background: url(/static/admin/images/icons.png) no-repeat;
    margin: 5px 1px 1px;
    cursor: pointer
}

.container .filelist div.file-panel span.rotateLeft {
    background-position: 0 -24px
}

.container .filelist div.file-panel span.rotateLeft:hover {
    background-position: 0 0
}

.container .filelist div.file-panel span.rotateRight {
    background-position: -24px -24px
}

.container .filelist div.file-panel span.rotateRight:hover {
    background-position: -24px 0
}

.container .filelist div.file-panel span.cancel {
    background-position: -48px -24px
}

.container .filelist div.file-panel span.cancel:hover {
    background-position: -48px 0
}

.container .statusBar {
    height: 63px;
    border-top: 1px solid #dadada;
    padding: 0 20px;
    line-height: 63px;
    vertical-align: middle;
    position: relative
}

.container .statusBar .progress {
    /*border: 1px solid #1483d8;*/
    width: 198px;
    /*background: #fff;*/
    height: 20px;
    display: inline-block;
    /*text-align: center;*/
    color: #6dbfff;
    position: relative;
    top:6px;
    left:2px;
    margin: 0 10px 0 0
}

.container .statusBar .progress span.percentage {
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /*bottom:1px;*/
    background: #1483d8;
}

.container .statusBar .progress span.text {
    position: absolute;
    z-index: 10
}

.container .statusBar .info {
    display: inline-block;
    font-size: 14px;
    color: #666
}

.container .statusBar .btns {
    position: absolute;
    top: 10px;
    right: 20px;
    line-height: 40px
}

.filePicker2 {
    display: inline-block;
    float: left
}

.container .statusBar .btns .uploadBtn,.container .statusBar .btns .uploadBtn.state-paused,.container .statusBar .btns .uploadBtn.state-uploading,.container .statusBar .btns .webuploader-pick {
    background: #fff;
    border: 1px solid #cfcfcf;
    color: #565656;
    padding: 0 18px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    float: left
}

.container .statusBar .btns .uploadBtn.state-paused:hover,.container .statusBar .btns .uploadBtn.state-uploading:hover,.container .statusBar .btns .uploadBtn:hover,.container .statusBar .btns .webuploader-pick-hover {
    background: #f0f0f0
}

.container .statusBar .btns .uploadBtn {
    background: #00b7ee;
    color: #fff;
    border-color: transparent
}

.container .statusBar .btns .uploadBtn:hover {
    background: #00a2d4
}

.container .statusBar .btns .uploadBtn.disabled {
    pointer-events: none;
    opacity: .6
}
.close-upimg{
    display:inline-block;
    position: absolute;
    height: 20px;
    width:20px;
    top: 0;
    right:0;
    z-index: 300;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    color:#a7b1c2;
}
.close-upimg:hover{
    color:white;
}
.active{
    width:198px;
    display: inline-block;
    position: relative;
    top: 4px;
    left: 2px;
    margin: 0 10px 0 0;
}
